<!-- //////////////////////////////////////////////// -->
<!-- (1) -->

<!-- 
<ul class="list-group">
    <li *ngFor="let post of posts" 
    class="list-group-item">
        {{post.title}}
    </li>
</ul> -->

<!-- //////////////////////////////////////////////// -->
<!-- (2) -->


<!-- <input
(keyup.enter)="createPost(title)" #title
type="text" class="form-control">
<ul class="list-group">
    <li *ngFor="let post of posts" 
    class="list-group-item">
        {{post.title}}
    </li>
</ul> -->

<!-- //////////////////////////////////////////////// -->
<!-- (3) -->

<!-- 
<ul class="list-group">
    <li *ngFor="let post of posts" 
    class="list-group-item">
    <button 
    (click)="updatePost(post)"
    class="btn btn-primary">Update</button>
        {{post.title}}
    </li>
</ul> -->

<!-- //////////////////////////////////////////////// -->
<!-- (4) -->


<ul class="list-group">
    <li *ngFor="let post of posts" 
    class="list-group-item">
    <button 
    (click)="deletePost(post)"
    class="btn btn-primary">Delete</button>
        {{post.title}}
    </li>
</ul>

<!-- ////////////////////////////////////////////////// -->
<!-- (5)? -->

<!-- <ul class="list-group">
    <li *ngFor="let post of posts" 
    class="list-group-item">
    <button 
    (click)="deletePost(post)"
    class="btn btn-primary">Delete</button>
        {{post.title}}
    </li>
</ul> -->

<!-- /////////////////////////////////////////////////// -->




